{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authic</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}"
</head>
<body>

    <div class="header">
        <div class="header_left">
            <div class="logo"><h1>Authic</h1></div> 
        </div>
        <div class="header_right">
            <div class="sign_log"><a href="/login"><h2>Log in</h2></a></div>
        </div>
        
    </div>

    <div class="main_body">
        <h1>This site is under construction!</h1>
    </div>

</body>
</html>